@model EntityLayer.Dto.WriterLogInDto
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Mvc Kamp Yazar Kayıt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Themes/login-form-20/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body class="img js-fullheight" style="background-image: url(/Themes/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-2">
                    <h2 class="heading-section">Mvc Proje Kampı Yazar Kayıt</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        @using (Html.BeginForm("WriterRegister", "Register", FormMethod.Post))
                        {
                        <div class="form-group">
                            <input type="text" class="form-control" name="WriterName" placeholder="Adınız" >
                            @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WriterSurName" placeholder="Soyadınız">
                            @Html.ValidationMessageFor(x => x.WriterSurName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WriterTitle" placeholder="Ünvanınız" >
                            @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="WriterAbout" placeholder="Hakkınızda" >
                            @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
                        </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="WriterImage" placeholder="Resim URL" >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="WriterUserName" placeholder="Kullanıcı adı" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="WriterMail" placeholder="Mail Adresi" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="WriterPassword" placeholder="******" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Beni Hatırla
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Şifremi Unuttum</a>
                                </div>
                            </div>
                        }
                        <p class="w-100 text-center">&mdash; Veya Sosyal Medya ile Giriş Yapın &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Themes/login-form-20/js/jquery.min.js"></script>
    <script src="~/Themes/login-form-20/js/popper.js"></script>
    <script src="~/Themes/login-form-20/js/bootstrap.min.js"></script>
    <script src="~/Themes/login-form-20/js/main.js"></script>
</body>
</html>
