
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yazar Giriş Panali</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Themes/LoginWriter/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Themes/LoginWriter/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Themes/LoginWriter/images/img-01.png" alt="IMG">
                </div>

                @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post))
                {
                    <span class="login100-form-title">
                        Yazar Giriş Paneli
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="WriterMail" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="WriterPassword" placeholder="Şifre">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LfHFTwbAAAAANmnjvwAbdHH7jDlYZK8eTJFVUHu"></div>
                    <br />
                    @TempData["Message"]
                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="text-center" style="margin-bottom:5px; margin-left:5px;">
                            <a class="text-gray-dark">
                                @ViewBag.ErrorMessage
                            </a>
                        </div>
                    }

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Unuttunuz mu
                        </span>
                        <a class="txt2" href="#">
                            Email / Şifre?
                        </a>
                    </div>

                    <div class="text-center p-t-60">
                        @*p-t-136 normal olan*@
                        <a class="txt2" href="#">
                            Hesabınız mı yok, hemem oluşturun!
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="margin-left:25px;">
                        <a class="txt2" href="#">
                            Siteye göz attınız mı?
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Themes/LoginWriter/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Themes/LoginWriter/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Themes/LoginWriter/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Themes/LoginWriter/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Themes/LoginWriter/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Themes/LoginWriter/js/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
</body>
</html>