@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<SkillArea>
@*@model List<SkillArea>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TalentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Yetenek Bölümü</title>
</head>
<body>
    <!-- main -->
    <div class="main">

        <h1>Yetenek Alanı Sayfası</h1>
        <div class="main-info">
            <div class="main-row">

                <td>
                    <div style="text-align: center">
                        <a href="/Talent/TalentCard" class="btn btn-info">
                            <button type="post" class="btn btn-outline-secondary" style="color: white">
                                <i class="fas fa-pencil-alt"></i>
                                Geri Git
                            </button>
                        </a>
                    </div>
                    <br />
                </td>
                <!-- main-row-one -->
                <div style="margin-right: 1em; margin-left: 1em">
                    <br />
                    <table class="table table-bordered" style="color: azure">
                        <tr>
                            <th style="width: 1%; text-align: center"><b>#</b></th>
                            <th style="width: 10%; text-align: center"><b>Yetenek Alanı</b></th>
                            <th style="width: 15%; text-align: center"><b>Yetenek Alanı Detayı</b></th>
                            <th style="width: 1%; text-align: center"><b>Sil</b></th>
                            <th style="width: 1%; text-align: center"><b>Güncelle</b></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th style="width: 1%; text-align: center"><b>@item.SkillAreaId</b></th>
                                <td style="width: 10%; text-align: center"><b>@item.Area</b></td>
                                <td style="width: 15%; text-align: center"><b>@item.AreaDetails</b></td>
                                <td style="width: 1%; text-align: center"><a href="/SkillArea/DeleteSkillArea/@item.SkillAreaId" class="btn btn-danger">Sil</a></td>
                                <td style="width: 1%; text-align: center"><a href="/SkillArea/UpdateSkillArea/@item.SkillAreaId" class="btn btn-warning">Güncelle</a></td>
                            </tr>
                        }
                    </table>
                    <div style="color: beige">
                        <ul class="alert-light" style="font-size: 20px"> @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))</ul>
                    </div>
                    <a href="/SkillArea/AddSkillArea" class="btn btn-info">Yeni Yetenek Alanı Ekle</a>
                </div>
                <!--bar-js-->
                <script src="~/Themes/Skills_Theme/web/js/bars.js"></script>

            </div>
        </div>
        <p>
        </p>
    </div>
</body>
</html>





