
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del> #2 Tüm Basliklarda Paging</del> </p>
<p><del>#3 Mesajlarda Session </del></p>
<p><del>#4 Oturum yönetiminin mimariye tasinmasi</del> </p>

