
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
</head>
<body>
<div>
    Burasi Layout
</div>
<div>
    @RenderBody()
</div>
</body>
</html>
