
@using EntityLayer.Concrete
@model List<SkillArea>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TalentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Yetenek Bölümü</title>
</head>
<body>
    <!-- main -->
    <div class="main">

        <h1>Yetenek Bölümü Sayfası</h1>
        <div class="main-info">
            <div class="main-row">
                <p><a href="/AdminCategory/Index" class="btn btn-primary"><b>Ana Sayfaya Git </b></a> &nbsp&nbsp<a href="/Talent/Index" class="btn btn-primary"><b> Geri Git</b></a></p>

                <!-- main-row-one -->

                <div class="profile-grid logo wthree">
                </div>
                <h3 class="title">Yetenek Bölümleri</h3>
                <br />
                <div class="col-md-6 skills-right bar_group">
                    <br />
                    <table class="table table-striped">
                        <tr>
                            <th><b>ID</b></th>
                            <th><b>Yetenek Bölümü</b></th>
                            <th><b>Sil</b></th>
                            <th><b>Güncelle</b></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th><b>@item.SkillAreaId</b></th>
                                <td><b>@item.Area</b></td>
                                <td><a href="/SkillArea/DeleteSkillArea/@item.SkillAreaId" class="btn btn-danger">Sil</a></td>
                                <td><a href="/SkillArea/UpdateSkillArea/@item.SkillAreaId" class="btn btn-warning">Güncelle</a></td>
                            </tr>
                        }
                    </table>
                    <a href="/SkillArea/AddSkillArea" class="btn btn-info">Kaydet</a>
                </div>
                <!--bar-js-->
                <script src="~/Themes/Skills_Theme/web/js/bars.js"></script>
                <div class="clear"> </div>
            </div>
        </div>
        <p>
        </p>
    </div>
</body>
</html>





