
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Admin Paneli</title>

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

    <!--PagedList Kullanimi-->
    <link rel="stylesheet" href="~/Content/PagedList.css" /> @*Sayfalama icin ilgili paketler kurulduktan sonra Content icerisine gelen css dosyasinin yolu Layout sayfalarina eklenir.*@

    <!-- Ekko Lightbox -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/ekko-lightbox/ekko-lightbox.css">*@
    <link href="~/Themes/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    <!-- summernote -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">*@
    <link href="~/Themes/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/dist/css/adminlte.min.css">*@
    <link href="~/Themes/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <link href="~/Themes/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/dist/css/adminlte.min.css">*@
    <link href="~/Themes/dist/css/adminlte.min.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">*@
    <link href="~/Themes/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/dist/css/adminlte.min.css">*@
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Heading/Index/" class="brand-link">
                <img src="~/Themes/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin Paneli</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Themes/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Merhaba Admin</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        @*@if (User.IsInRole("B"))
                            {*@

                        <li class="nav-item has-treeview">
                            <a href="/AdminCategory/Index/" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>
                        @*}*@
                        <li class="nav-item">
                            <a href="/Schedule/Agenda/" class="nav-link">
                                <i class="nav-icon far fa-address-book"></i>
                                <p>
                                    Ajanda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Schedule/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar"></i>
                                <p>
                                    Takvim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Heading/Index/" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Başlıklar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Content/GetAllContent/" class="nav-link">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Yazılar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Writer/Index/" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Yazarlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Grafikler
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Chart/CategoryListPieChart" class="nav-link">
                                        <i class="fas fa-chart-pie"></i>
                                        <p>Kategori - Başlık Grafiği</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Chart/HeadingListColumnChart" class="nav-link">
                                        <i class="far fa-chart-bar"></i>
                                        <p>Başlık - İçerik Grafiği</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Chart/WriterListLineChart" class="nav-link">
                                        <i class="fas fa-chart-line"></i>
                                        <p>Yazar - Başlık Grafiği</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/About/Index" class="nav-link">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>
                                    Hakkımızda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Heading/HeadingReport" class="nav-link">
                                <i class="nav-icon fas fa-bars"></i>
                                <p>
                                    Raporlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Contact/Index/" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    İletişim & Mesajlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Authorization/Index/" class="nav-link">
                                <i class="nav-icon fas fa-suitcase-rolling"></i>
                                <p>
                                    Yetkilendirmeler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Gallery/Index/" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Galeri
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Talent/Index/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Yeteneklerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Test/SweetAlert/" class="nav-link">
                                <i class="nav-icon far fa-map"></i>
                                <p>
                                    Sweet Alert
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/ErrorPage/Page404/" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Hata Sayfaları
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Statistic/Index/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Istatistikler
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item has-treeview">
                                <a href="/ImageTest/Index/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>
                                        Resim Upload
                                    </p>
                                </a>
                            </li>*@
                        <li class="nav-item has-treeview">
                            <a href="/Home/HomePage/" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Siteye Git
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/LogIn/AdminLogOut/" class="nav-link">
                                <i class="nav-icon fas fa-door-closed"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                @RenderBody()
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
            </div>
            <strong>Copyright &copy; 2021 <a href="http://www.denizfatih.com">Fatih Deniz</a>.</strong> Tüm hakları saklıdır.
        </footer>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Themes/jquery/jquery.min.js"></script>

    <!-- jQuery UI -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/Themes/jquery-ui/jquery-ui.min.js"></script>
    <!-- Ekko Lightbox -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>*@
    <script src="~/Themes/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>*@
    <script src="~/Themes/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/demo.js"></script>*@
    <script src="~/Themes/dist/js/demo.js"></script>
    <!-- Filterizr-->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/filterizr/jquery.filterizr.min.js"></script>*@

    <!-- Page specific script -->
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })</script>

    <!-- Bootstrap -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Themes/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.js"></script>*@
    <script src="~/Themes/dist/js/adminlte.js"></script>
    <!-- AdminLTE App -->
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>*@
    <script src="~/Themes/dist/js/adminlte.min.js"></script>
    <!--icheck-mailbox-->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-mailbox.js"></script>*@

    <!-- OPTIONAL SCRIPTS -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>*@
    <script src="~/Themes/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/demo.js"></script>*@
    <script src="~/Themes/dist/js/demo.js"></script>
    @*<script src="~/Themes/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>*@
    <script src="~/Themes/dist/js/pages/dashboard3.js"></script>
    <!-- Summernote -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>*@
    <script src="~/Themes/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })</script>
    @RenderSection("Editor", false)

</body>
</html>