@using EntityLayer.Concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Status.StatusName</td>
        </tr>
    }
</table>
<br/>
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>