
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örnegi - Kategori</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>Adi</th>
        <th>Aciklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>Áciklama yaptik</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Áciklama yapildi</td>
        <td>True</td>
    </tr>
</table>
