<!-- /.card-header -->
<div class="card-body p-0">
    <div class="mailbox-controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
            <i class="far fa-square"></i>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
        <div class="float-right">
            1-50/200
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
            </div>
            <!-- /.btn-group -->
        </div>
        <!-- /.float-right -->
    </div>
</div>