@using EntityLayer.Concrete;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ImageFile>
@*@model List<ImageFile>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Galleri</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sözlük Galerisi</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">
                                Ekko Lightbox
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-2">
                                        <div>
                                            <a href="@item.ImagePath" data-toggle="lightbox" data-title="@item.ImageName" data-gallery="gallery">
                                                <img src="@item.ImagePath" class="img-fluid mb-2" alt="white sample" style="height: 150px; width: 400px;" />
                                            </a>
                                        </div>
                                        <div style="text-align: center">
                                            @*<a href="/Gallery/UpdateImage/@item.ImageId" class="btn btn-warning">Güncelle</a>*@
                                            <a href="/Gallery/DeleteImage/@item.ImageId" class="btn btn-danger">Sil</a>
                                        </div>
                                        <br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <a href="/Gallery/AddImage" class="btn btn-outline-info">Yeni Resim Ekle </a>

    @*<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
            Yeni Resim Ekle
        </button>*@


    <div style="color: beige;"> @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))</div>
    <!-- jQuery -->
    @*<script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Themes/jquery/jquery.min.js"></script>
</body>
</html>





@* !!! ÖNEMLI NOT !!!!
    <link rel="stylesheet" href="~/Content/PagedList.css" /> @*Sayfalama icin ilgili paketler kurulduktan sonra Content icerisine gelen css dosyasinin yolu Layout sayfalarina eklenir.
    Bu islemi yaparsak asagida yazilacak komuta ihtiyac kalmaz.
*@

@* Asagidaki alan sayfalama isleminde sayfalarinda altinda sayfa numarasi gecislerini cözmektedir. *@

@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("AllHeadings", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {"page-link"}
    })*@


