@using EntityLayer.Concrete;
@model List<ImageFile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Gallery</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sözlük Galerisi</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">
                                Ekko Lightbox
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-sm-2">
                                        <a href="@item.ImagePath" data-toggle="lightbox" data-title="@item.ImageName" data-gallery="gallery">
                                            <img src="@item.ImagePath" class="img-fluid mb-2" alt="white sample"  style="height: 150px; width: 400px;"/>
                                        </a>
                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- jQuery -->
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
</body>
</html>









