
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del> #2 Tüm Basliklarda Paging</del> </p>
<p><del>#3 Mesajlarda Session </del></p>
<p>#4 Oturum yönetiminin mimariye tasinmasi </p>
<p>#5 Token kullanimi </p>
<p>#6 </p>
<p>#7 </p>

