
@{
    ViewBag.Title = "SweetAlert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>

<button class="btn btn-primary" id="btn1">Button1</button>
<button class="btn btn-warning" id="btn2">Button2</button>
<button class="btn btn-danger" id="btn3">Button3</button>

<script>
    $('#btn1').click(function () {
        swal("Merhaba MVC Proje Kampi");
    });
</script>

<script>
    $('#btn2').click(function () {
        swal("MVC Proje Kampi", "...ders 96");
    });
</script>

<script>
    $('#btn3').click(function () {
        swal("Tebrikler", "Basarili bir sekilde eklendi", "success");
    });
</script>