
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapilacaklar</h4>
<br/>
<p><del>Basliklarda arama kutucugu</del></p>
<p><del>Yazar Görselleri düzenleme</del></p>
<p><del>Grafikler</del></p>
<p><del>Vitrin temasi</del></p>
<p>Gelen kutusunda arama</p>
<p>Yetkilendirmeler</p>
<p><del>Hata sayfasi layout dan ayrilacak</del></p>
<p><del>Sözlük ve vitrin ayrilacak</del></p>
<p>proje dosyalari sunucuya tasinacak</p>
<p>Alan adi alinacak</p>
<p>proje canliya tasinacak</p>
<p>Herhangi bir tablo raporlanacak</p>
<p>Url'de ID yerine isim gelsin'</p>
<p><del>IFrame Ekleme</del></p>
<p><del>SweetAlert</del></p>
<p><del>Raporlama</del></p>
