@using System.Web.UI.WebControls
@using EntityLayer.Concrete
@model About

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <label>Durumu : </label>
                    @Html.DropDownListFor(x => x.Status, new SelectListItem[]{
                        new SelectListItem() {Text = " Aktif ", Value="true"},
                        new SelectListItem() {Text = " Pasif ", Value="false"}})
                    <br />
                    <br />
                    <button class="btn btn-primary">Kaydet</button>
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>
<br />
