@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.AboutId</td>
    <td>Başlık</td>
    <td><a href="#" class="btn btn-warning">Aktif Yap</a></td>
    <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
</tr>
    }
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>


@Html.Action("AboutPartial","About")