@using System.Web.UI.WebControls
@using EntityLayer.Concrete
@model Writer


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Şifre Değiştirme Alanı</h2>
            </div>
            <form method="post" action="/WriterPanel/WriterProfile">
                <div class="modal-body">
                    <label>Geçerli Şifreniz</label>
                    <input type="text" name="CurrentPassword" class="form-control"  placeholder="***********"/>
                    <br />
                    <label>Yeni Şifreniz</label>
                    <input type="text" name="NewPassword" class="form-control" />
                    <br />
                    <label>Yeni Şifreniz (tekrar)</label>
                    <input type="text" name="NewPasswordRepeat" class="form-control" />
                    <br />
                    <br />
                    @Html.HiddenFor(x => x.WriterId)
                    <button class="btn btn-primary">Kaydet</button>
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>
<br />